<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{customer/layouts/product-layout :: product-fragment(  
                                                ~{::title},
                                                ~{:: #style},
                                                ~{:: #script},
                                                ~{:: #main-content}
                                               )}">

<head>
	<title>Trang chủ</title>
	<th:block id="style">

	</th:block>
</head>

<body>

	<div id="main-content" class="row">
		<div class="col-12" id="top-product-section">
				
		</div>
	</div>

	<th:block id="script">
		<script th:src="@{/customer/js/home-page.js}"></script>
	</th:block>
</body>

</html>