<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>footer fragment</title>
</head>

<body>
    <footer id="footer" th:fragment="footer">
		<div class="wrapper">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<ul>
						<li>
							<h3>hệ thống cửa hàng</h3>
						</li>
						<li><a title="" href="">Giới thiệu cửa hàng</a></li>
						<li><a title="" href="">Xem địa chỉ các chi nhánh </a></li>
						<li><a title="" href="">Trung tâm sửa chữa &amp; bảo hành(9:00 - 19:00)</a></li>
						<li><a title="" href="">Danh sách trung tâm BH chính hãng</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<ul>
						<li>
							<h3>hướng dẫn mua hàng</h3>
						</li>
						<li><a title="" href="">Hướng dẫn mua hàng online</a></li>
						<li><a title="" href="">Hướng dẫn mua hàng trả góp</a></li>
						<li><a title="" href="">Vận chuyển - thanh toán</a></li>
						<li><a title="" href="">Chính sách đổi trả / bảo hành</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<ul>
						<li>
							<h3>kết nối với chúng tôi</h3>
						</li>
						<li><a href="" target="_blank">Facebook</a></li>
						<li><a target="_blank" href="">Youtube</a></li>
						<li><a href="tel:19009999" style="color:#FF0000;font-size:18px;font-weight: bold">1900 9999</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<ul>
						<li>
							<h3>đăng kí nhận tin khuyến mãi</h3>
						</li>
						<li>
							<form action="" method="POST" class="subscribe">
								<input type="email" placeholder="Email của bạn">
								<button type="submit">Gửi</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>