<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>order header fragment</title>
</head>

<body>
    <div class="order-list-header" th:fragment="orderHeader">
        <ul th:with="url=${#httpServletRequest.getRequestURI() + '?' + #httpServletRequest.getQueryString()}">
            <li th:classappend="${(url == '/user/order?null' || url.startsWith('/user/order?page') || url.startsWith('/user/order?search')) ? 'active':''}">
                <a th:href="@{/user/order}">Tất cả</a>
            </li>
            <li th:classappend="${url.startsWith('/user/order?type=0') ? 'active':''}">
                <a th:href="@{/user/order?type=0}">Chờ xác nhận</a>
            </li>
            <li th:classappend="${url.startsWith('/user/order?type=1') ? 'active':''}">
                <a th:href="@{/user/order?type=1}">Chờ lấy hàng</a>
            </li>
            <li th:classappend="${url.startsWith('/user/order?type=2') ? 'active':''}">
                <a th:href="@{/user/order?type=2}">Đang giao</a>
            </li>
            <li th:classappend="${url.startsWith('/user/order?type=3') ? 'active':''}">
                <a th:href="@{/user/order?type=3}">Đã giao</a>
            </li>
            <li th:classappend="${url.startsWith('/user/order?type=4') ? 'active':''}">
                <a th:href="@{/user/order?type=4}">Đã hủy</a>
            </li>
        </ul>
    </div>
</body>

</html>