<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #style},
                                                ~{:: #script},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Đổi mật khẩu</title>
    <th:block id="style">
        <link th:href="@{/admin/css/profile-page.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

    <div id="main-content">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Thay đổi mật khẩu</h1>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card user-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-8 user-info">
                                        <form id="user-password-form" method="POST">
                                            <input type="hidden" name="userId" th:value="${session.user.id}">
                                            <div class="form-group row mb-5">
                                                <label class="col-4 col-form-label">Mật khẩu hiện tại:</label>
                                                <div class="col-8">
                                                    <input type="password" name="currentPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại">
                                                    <span class="text-danger currentPassword-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-5">
                                                <label class="col-4 col-form-label">Mật khẩu mới:</label>
                                                <div class="col-8">
                                                    <input type="password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới">
                                                    <span class="text-danger newPassword-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-5">
                                                <label class="col-4 col-form-label">Xác nhận mật khẩu:</label>
                                                <div class="col-8">
                                                    <input type="password" name="matchingPassword" class="form-control" placeholder="Nhập lại mật khẩu">
                                                    <span class="text-danger matchingPassword-error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-4"></label>
                                                <div class="col-8">
                                                    <button class="btn btn-info">Cập nhật</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <th:block id="script">
        <script th:src="@{/admin/js/profile-page.js}"></script>
    </th:block>
</body>

</html>