<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #style},
                                                ~{:: #script},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Thêm sản phẩm</title>
    <th:block id="style">
        <link th:href="@{/admin/css/productadd-page.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

    <div id="main-content">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Thông tin cơ bản của sản phẩm</h1>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form class="col-md-8" id="form-add">
                            <div class="form-group">
                                <label>Ảnh sản phẩm</label>
                                <div id="form-file">
                                    <img th:src="@{/images/product-avatar.jpg}" alt="product image">
                                    <input accept="image/*" type="file" name="avatar" class="d-none">
                                    <button class="change-avatar-btn" type="button">
                                        <svg viewBox="0 0 24 24">
                                            <path
                                                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z">
                                            </path>
                                        </svg>
                                    </button>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tên sản phẩm</label>
                                    <input type="text" placeholder="Tên sản phẩm" name="name" class="form-control">
                                    <span class="text-danger name-error"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Danh mục</label>
                                    <select name="categoryId" class="form-control">
                                        <th:block th:each="item : ${categories}">
                                            <option th:value="${item.getId()}" th:text="${item.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Thương hiệu</label>
                                    <select name="brandId" class="form-control">
                                        <th:block th:each="item : ${brands}">
                                            <option th:value="${item.getId()}" th:text="${item.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Giá sản phẩm</label>
                                    <input type="text" placeholder="Giá sản phẩm" class="form-control is-number" name="price">
                                    <span class="text-danger price-error"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Giá được giảm</label>
                                    <input type="text" placeholder="Khuyến mãi" class="form-control is-number" name="priceOff">
                                    <span class="text-danger priceoff-error"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Số lượng sản phẩm</label>
                                    <input type="text" placeholder="Số lượng" class="form-control is-number" name="quanlity">
                                    <span class="text-danger quanlity-error"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Trạng thái</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" checked="checked" type="radio" name="status"
                                                id="enable-status" value="true"> <label class="form-check-label"
                                                for="enable-status">Enable</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="status"
                                                id="disable-status" value="false"> <label class="form-check-label"
                                                for="disable-status">Disable</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="btn-add-brand">
                                    Thêm sản phẩm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block id="script">
        <script th:src="@{/admin/js/productadd-page.js}"></script>
    </th:block>
</body>

</html>