<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #style},
                                                ~{:: #script},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Chi tiết đơn hàng</title>
    <th:block id="style">
        <link th:href="@{/admin/css/order-page.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

    <div id="main-content">
        <div class="order-detail-wrapper">
            <div class="order-detail-header">
                <div class="back-btn">
                    <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0">
                        <g>
                            <path
                                d="m8.5 11c-.1 0-.2 0-.3-.1l-6-5c-.1-.1-.2-.3-.2-.4s.1-.3.2-.4l6-5c .2-.2.5-.1.7.1s.1.5-.1.7l-5.5 4.6 5.5 4.6c.2.2.2.5.1.7-.1.1-.3.2-.4.2z">
                            </path>
                        </g>
                    </svg>
                    <span>Trở lại</span>
                </div>
                <div class="order-id">
                    <span>MÃ ĐƠN HÀNG: [[${order.id}]]</span>
                    <span>|</span>
                    <span id="order-status-text">[[${statusNames[order.status]}]]</span>
                </div>
            </div>
            <div class="e-divide-t1">
                <div></div>
                <div></div>
            </div>
            <div class="order-detail-info">
                <div class="title">Thông tin tài khoản</div>
                <div class="info">
                    <span>Tài khoản:</span>
                    <span th:text="${account.userName}"></span>
                </div>
                <div class="info">
                    <span>Họ và tên:</span>
                    <span th:text="${account.getFullName()}"></span>
                </div>
                <div class="info">
                    <span>Số điện thoại:</span>
                    <span th:text="${account.phoneNumber}"></span>
                </div>
            </div>
            <div class="e-divide-t1">
                <div></div>
                <div></div>
            </div>
            <div class="order-detail-info">
                <div class="title">
                    <span>Thông tin khách hàng</span>
                    <th:block th:if="${order.status == 0 || order.status == 1}">
                        <span class="icon-edit" id="btn-edit-cusinfo"><i class="fa fa-pen"
                                aria-hidden="true"></i></span>
                    </th:block>
                </div>
                <div class="info">
                    <span>Tên khách hàng:</span>
                    <span th:text="${(order.gender ? 'Chị ' : 'Anh ') + order.fullName}"></span>
                </div>
                <div class="info">
                    <span>Số điện thoại:</span>
                    <span th:text="${order.phoneNumber}"></span>
                </div>
                <div class="info">
                    <span>Địa chỉ nhận hàng:</span>
                    <span th:text="${order.address}"></span>
                </div>
                <th:block th:if="${order.description != '' && order.description != null}">
                    <div class="info">
                        <span>Yêu cầu thêm:</span>
                        <span th:text="${order.description}"></span>
                    </div>
                </th:block>
            </div>
            <div class="e-divide-t1">
                <div></div>
                <div></div>
            </div>
            <div class="order-detail-item">
                <div class="title">Các sản phẩm trong đơn hàng</div>
                <div class="order">
                    <div class="order-body">
                        <th:block th:each="item : ${order.orderItems}">
                            <div class="order-item">
                                <div class="order-item-body">
                                    <div class="left-side">
                                        <div class="order-avatar">
                                            <img th:src="${item.productAvatar}" th:alt="${item.productName}">
                                        </div>
                                        <div class="order-product">
                                            <a th:href="${'/product/' + item.productId}" class="product-name"
                                                th:text="${item.productName}"></a>
                                            <div class="product-price"
                                                th:text="${'Giá: ' + #numbers.formatDecimal(item.productPromoPrice, 0, 'COMMA', 0, 'POINT') + '₫'}">
                                            </div>
                                            <div class="product-quanlity" th:text="${'Số lượng: ' + item.quanlity}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-side">
                                        <div class="order-item-total"
                                            th:text="${#numbers.formatDecimal(item.productPromoPrice * item.quanlity, 0, 'COMMA', 0, 'POINT') + '₫'}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="order-total">
                        <span>Tổng cộng:</span>
                        <span th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT') + '₫'}"></span>
                    </div>
                    <div class="order-action">
                        <th:block th:if="${order.status != 4 && order.status != 3}">
                            <button class="btn btn-danger" id="btn-cancel-order">Hủy đơn hàng</button>
                        </th:block>
                        <th:block th:if="${order.status == 0}">
                            <button class="btn btn-outline-info" id="btn-confirm-order">Xác nhận đơn hàng</button>
                        </th:block>
                        <th:block th:if="${order.status == 1}">
                            <button class="btn btn-outline-info" id="btn-confirm-shipping">Xác nhận đang giao</button>
                        </th:block>
                        <th:block th:if="${order.status == 2}">
                            <button class="btn btn-outline-info" id="btn-confirm-shipped">Xác nhận đã Giao</button>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${order.status == 0 || order.status == 1}">
            <div class="modal fade" id="cusinfo-modal" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chỉnh sửa thông tin khách hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" th:action="${'/admin/order/' + order.id}">
                            <div class="modal-body">
                                <input type="hidden" name="orderId" th:value="${order.id}" />
                                <input type="hidden" name="userId" th:value="${account.id}" />
                                <div class="form-group">
                                    <label>Tên khách hàng</label> <input class="form-control" type="text"
                                        name="fullName" placeholder="Điền tên..." th:value="${order.fullName}" />
                                    <span class="text-danger fullName-error"></span>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label> <input class="form-control" type="text"
                                        name="phoneNumber" placeholder="Điền số điện thoại..."
                                        th:value="${order.phoneNumber}" />
                                    <span class="text-danger phoneNumber-error"></span>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label> <input class="form-control" type="text" name="address"
                                        placeholder="Điền địa chỉ..." th:value="${order.address}" />
                                    <span class="text-danger address-error"></span>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" th:checked="${!order.gender}" type="radio"
                                                name="gender" id="male-gender" value="false"> <label
                                                class="form-check-label" for="male-gender">Nam</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:checked="${order.gender}"
                                                name="gender" id="female-gender" value="true"> <label
                                                class="form-check-label" for="female-gender">Nữ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label> <textarea rows="3" class="form-control" name="description"
                                        placeholder="Mô tả...">[[${order.description}]]</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <th:block id="script">
        <script th:inline="javascript">
            var g_sOrderId = /*[[${order.id}]]*/'default';
        </script>
        <script th:src="@{/admin/js/orderdetail-page.js}"></script>
    </th:block>
</body>

</html>