.product-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item .item-wrapper {
    display: flex;
    align-items: flex-start;
    text-decoration: none !important;
    width: 100%;
}

.product-item .item-avatar {
    width: 5em;
    height: 5em;
}

.product-item .item-avatar img {
    width: 100%;
}

.product-item .item-info {
    margin-left: 0.875em;
    flex: 1;
}

.product-item .item-info p {
    color: rgba(0, 0, 0, 0.75) !important;
    text-decoration: none !important;
    margin-bottom: 0.25em;
}

.product-item .item-info p:first-child {
    font-size: 0.875em;
    font-weight: bold;
}

.product-item .item-info p:last-child {
    font-size: 0.675em;
}

