<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{customer/layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #style},
                                                ~{:: #script},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title th:text="${product.name}"></title>
    <th:block id="style">
        <link th:href="@{/common/mylib/css/technical-data.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/common/mylib/css/pagination.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/customer/css/product-page.css}" rel="stylesheet" type="text/css" />
    </th:block>
</head>

<body>

    <div id="main-content">
        <section class="section">
            <div class="row product-page-title">
                <div class="product-page-name col-md-6">
                    <h3 th:text="${product.name}"></h3>
                    <span class="ml-2" th:text="${'(' + product.id + ')'}"></span>
                </div>
                <div class="product-page-vote col-md-6 product-star-list-wrapper">
                    <div class="product-star-list"></div>
                    <p class="product-star-list-label"></p>
                </div>
            </div>
            <div class="section-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="product-slider" class="swiper">
                            <div class="swiper-wrapper">
                                <th:block th:each="image : ${pictures}">
                                    <div class="swiper-slide">
                                        <img th:src="${image.name}">
                                    </div>
                                </th:block>
                                <th:block th:if="${pictures.size() == 0}">
                                    <div class="swiper-slide">
                                        <img th:src="${product.avatar}">
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="product-page-price">
                            <div class="price-main"></div>
                            <div class="price-sub">
                                <del></del>
                            </div>
                        </div>
                        <div class="product-page-action">
                            <button type="button" class="btn btn-danger" id="btn-buynow">Mua ngay</button>
                            <button type="button" class="btn btn-outline-danger" id="btn-addtocart">Thêm vào giỏ
                                hàng</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card technical-data-card">
                            <h2 class="card-title">Thông số kỹ thuật</h2>
                            <div class="card-body" id="product-technical-data">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section-body">
                <div class="product-page-article-wrapper container">
                    <div class="product-page-article" id="product-article">
                        <div class="product-page-article-content" th:utext="${article?.content}">

                        </div>
                        <div class="product-page-article-overlay">
                            <span id="btn-expand-article" class="button-overlay">Đọc thêm<span
                                    class="carret"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section-body">
                <ul class="nav nav-tabs product-page-vote-comment">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-link-vote" data-toggle="tab" href="#vote">Đánh giá và nhận xét</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link-comment" data-toggle="tab" href="#comment">Hỏi đáp</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="vote">
                        <div class="product-rate-star">
                            <div class="col">
                                <div class="rate-point product-star-list-wrapper">
                                    <p>Đánh giá trung bình</p>
                                    <div class="point product-star-list-point"></div>
                                    <div class="product-page-vote product-star-list">
                                    </div>
                                    <span class="product-star-list-label"></span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="product-rate-progresses" id="product-rate-list-progress">
                                    
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center">
                                    <p>Bạn đã mua sản phẩm này?</p>
                                    <button class="btn btn-danger" id="open-user-rate-btn">Gửi đánh giá của bạn</button>
                                </div>
                            </div>
                        </div>
                        <div class="user-comment"></div>
                        <div id="evaluation-pagination"></div>
                    </div>
                    <div class="tab-pane fade" id="comment">
                        <div class="product-comment-box">
                            
                        </div>
                        <div class="user-comment"></div>
                        <div id="comment-pagination"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block id="script">
        <script th:inline="javascript">
            var g_oProduct = {
                id: /*[[${product.id}]]*/'default',
                price: /*[[${product.price}]]*/'default',
                promoPrice: /*[[${product.promoPrice}]]*/'default',
                avgStar: /*[[${product.avgStar}]]*/'default',
                technicalData: /*[[${technical?.content}]]*/'default',
                name: /*[[${product.name}]]*/'default'
            }
        </script>
        <th:block sec:authorize="isAuthenticated()">
            <script th:inline="javascript">
                var g_sUserFullName = /*[[${session.user.getFullName()}]]*/'default';
                var g_sUserAvatar = /*[[${session.user.getAvatar()}]]*/'default';
            </script>
        </th:block>
        <script th:src="@{/common/mylib/js/technical-data.js}"></script>
        <script th:src="@{/common/mylib/js/pagination.js}"></script>
        <script th:src="@{/customer/js/product-page.js}"></script>
    </th:block>
</body>

</html>